<launch>
    <node name="a8mini_rtsp_ffmpeg" pkg="network_port_camera" type="rtsp_ffmpeg.py" output="screen">
        <param name="rtsp_url" value="rtsp://192.168.144.25:8554/main.264"/>
        <param name="is_rgb" value="True"/>
        <param name="downsample" value="1"/>  <!-- 1 / downsample -->
        <param name="is_flip" value="False"/>
        <param name="flip_way" value="-1"/>  <!-- 0: X-axis flip; 1: Y-axis flip; -1: Both are flipped -->
        <param name="is_scale" value="False"/>
        <param name="new_size" value= "960 540"/>  <!-- new_size: "width height "-->
        <param name="pub_raw_img" value="True"/>
        <param name="raw_img_pub_name" value="/a8mini/rtsp_image"/>
        <param name="pub_compressed" value="True"/>
        <param name="compressed_quality" value="75"/>
        <param name="compressed_pub_name" value="/a8mini/rtsp_image/compressed"/>
        <param name="show_img" value="False"/>
    </node>
</launch>
