<launch>
    <node name="khy10g613_rgb_rtsp_ffmepg" pkg="network_port_camera" type="rtsp_ffmpeg.py" output="screen">
        <param name="rtsp_url" value="rtsp://192.168.1.25:554/stream=0"/>
        <param name="is_rgb" value="True"/>
        <param name="is_scale" value="False"/>
        <param name="new_size" value= "960 540"/>
        <!-- new_size: "width height "-->
        <param name="show_img" value="False"/>
        <param name="topic_pub_name" value="/khy10g613/rgb/rtsp_image"/>
    </node>
</launch>
